* {
    /* border: 1px solid magenta; */
}

body {
    font-family: "Roboto", sans-serif;
    margin: auto;
    padding: 0.5rem;
    padding-bottom: 2rem;
    max-width: 50rem;
    background-color: #252425;
    color: rgb(221, 221, 221);
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;
}

header > .tagline {
    /* line-height: 0.8rem; */
}

a {
    color: #a3cdd3;
}

header > img {
    max-height: 10rem;
    height: 100%;
}

.experience {
    background-color: rgb(38, 45, 109);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

details > summary {
    font-weight: bold;
    font-size: large;
    cursor: pointer;
}

summary > time {
    font-weight: normal;
    font-style: italic;
}

section.experience > details {
    background-color: rgb(97, 55, 146);
}

.call_to_action {
    margin: auto;
    font-weight: bold;
    text-decoration: none;
    background-color: rgb(201, 35, 104);
    color: white;
    border-radius: 0.5rem;
    padding: 0.5rem
}

menu {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

menu > a {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

menu > a:hover {
    background-color: #592e64;
}

menu > a > img {
    height: 1rem;
}
