:root{
	--foreground-color: #c0c0c0;
	--background-color: #000000;
	--accent-color: #404040;
}
@font-face {
	font-family: 'cool_s';
	src: url('./creations/S_font/Cool_S.woff2') format('woff2'),
	url('./creations/S_font/Cool_S.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
html {
	padding: 0 1rem;
}
body {
	background-color: var(--background-color);
	color: var(--foreground-color);
	font-family: sans-serif;
	line-height: 1.4;
	margin: auto;
	max-width: 50rem;
	word-wrap: break-word;
}
h1, h2 {
	line-height: 1;
}
ul {
	padding-left: 1.5rem;
}
a {
	color: #2e80dd;
}
nav {
	display: flex;
	flex-wrap: wrap;
	max-width: 50rem;
	padding: 0.2rem;
}
nav > a {
	border: 1px solid var(--foreground-color);
	color: var(--foreground-color);
	flex-grow: 1;
	flex: 1 1 0px;
	float: left;
	font-weight: bold;
	line-height: 1rem;
	margin: 0;
	padding: 0.6rem;
	text-align: center;
	text-decoration: none;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
}
.gallery > a {
	flex-grow: 1;
	margin: 0;
	line-height: 1;
	padding: 0.2rem;
}
.gallery > a > img {
	border: 1px solid var(--foreground-color);
	max-width: 10rem;
}
.gallery > a > p {
	max-width: 10rem;
}
:target, nav :hover, .info :hover {
	background-color: var(--accent-color);
}
nav > .active {
	background-color: var(--foreground-color);
	color: var(--background-color);
}
.cool {
	font-family: Cool_S, sans-serif;
	font-size: 80%;
	line-height: 2.5;
}
.info-icon {
	max-height: 1rem;
	max-width: 1rem; 
}
.info {
	display: flex;
	flex-wrap: wrap;
	max-width: 50rem;
	padding: 0.2rem;
	margin-top: 0.5rem;
	align-items: center; 
}
.info > a {
	flex-grow: 1;
	flex: 1 1 0px;
	clear: left;
	line-height: 1rem;
	margin: 0;
	padding: 0.6rem;
	text-align: center;
	text-decoration: none;
	color: var(--foreground-color);
}
